$background-color: #f0f0f0
$text-color: #2196F3

body
  margin: 0
  padding: 0
  background: $background-color
  color: $text-color
  font-family: 'Barlow Semi Condensed', sans-serif

#block-container

  h1
    font-size: 1.8em
    small
      display: block
      font-size: 0.7em

  h2
    font-weight: 200
    letter-spacing: 0.2em
    font-size: 1.1em
    text-transform: uppercase
    border-bottom: 1px solid $text-color
    padding: 0 0 5px 0
    margin: 10px 0
    display: inline-block

  ul
    list-style: circle

  #profile-image
    display: block
    margin: 0 auto
    width: 250px
    -webkit-border-radius: 250px
    -moz-border-radius: 250px
    border-radius: 250px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

  @media only screen and (max-width: 992px)
    #profile-image
      margin-top: 20px

    h1
      text-align: center
      margin-top: 20px
    .block
      height: auto
      display: flex
      justify-content: center
      .content
        width: auto

  @media only screen and (min-width: 991px)
    .block
      position: relative
      overflow: hidden
      min-height: 100vh
      .content
        width: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%)



